- provide(:title, 'Home')

.billboard.billboardFull
  sdf

.wrapper
  %table.adminIndexTable
    %tr
      %th Name
      %th Category
      %th User
      %th Published
      %th

    - @posts.each do |post|
      %tr
        %td
          - if current_user
            - if current_user.voted_against?(post) || !current_user.voted_on?(post)
              = link_to "upvote", post_vote_path(post, direction: 'up')
            - else
              upvoted
            - if current_user.voted_for?(post) || !current_user.voted_on?(post)
              = link_to "downvote", post_vote_path(post, direction: 'down')
            - else
              downvoted
          = post.title
          = post.plusminus
        %td= post.content
        %td= post.user.name
        %td= post.published
        %td


.wrapper#homePopular
  %section.bigSideContent
    asd

  %aside.bigSideAside
    dfg

  .adBox sd