#admin
  = form_for @post do |f|
  
    .adminColWr
      %h2 
        Edit post
        = f.submit 'Save'

      - if @post.errors.any?
        #error_explanation
          %h4= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
          %ul
            - @post.errors.full_messages.each do |msg|
              %li= msg

      = render 'form', f: f

      .clear
      %hr
      
      = render 'form_content', f: f

      .actions= f.submit 'Save'
    
   
   
      
:javascript   
  $("#post_title").keyup(function(){
    $('#prevTitle').html(this.value);
  });
  $("#post_thumb_url").keyup(function(){
    $('#prevThumb').html(this.value);
  });
  $("#post_video").keyup(function(){
    $('#prevVideo').html(this.value);
  });
  $("#post_content").keyup(function(){
    $('#prevContent').html(this.value);
  });
  
  $(document).ready(function(){
      $('textarea').autosize();  
  });
